# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Neon DB Connection String
# Replace the placeholder below with your actual Neon connection string
# It should look something like: postgresql://<user>:<password>@ep-long-name-123456.us-east-2.aws.neon.tech/finance?sslmode=require
DATABASE_URL="postgresql://<user>:<password>@<neon_hostname>/<dbname>?sslmode=require"
